.wrapper {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  width: 100%;
}
.header {
  display: grid;
  height: 10vh;
  margin: 20px 100px 0px 100px;
}
.menu {
  display: grid;
  grid-template-columns: 35% 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
#logo {
  font-weight: bolder;
}
a {
  color: black;
  font-size: smaller;
  text-decoration: none;
}
a:hover {
  color: blue;
}
.main {
  display: grid;
  height: 60vh;
  grid-template-columns: 50% 50%;
  grid-template-areas: "section aside";
  margin: 0 0 50px 100px;
}
section {
  grid-area: section;
  display: grid;
  align-content: center;
  gap: 10px;
}
section :last-child {
  margin-left: -50px;
}
h2,
h3 {
  font-weight: 700;
}
.word {
  font-size: smaller;
  width: 70%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.parent {
  position: relative;
}
.ornament {
  position: relative;
  top: 35%;
  width: 60%;
}
#button {
  background-color: #2639ed;
  color: white;
  border-radius: 60px;
  border: 1px solid #2639ed;
  padding: 16px 45px 16px 45px;
  position: absolute;
  max-width: 100%;
  right: 61%;
  top: 23%;
}
.aside {
  grid-area: aside;
  display: grid;
  position: relative;
}
.image1 {
  position: relative;
  right: 10%;
}
.image2 {
  position: relative;
  top: 50%;
  left: 50%;
}
.image3 {
  position: absolute;
  max-width: 100%;
}
.footer {
  display: grid;
  height: 20vh;
  grid-template-columns: 30% 1fr 1fr 1fr 1fr;
  margin: 0 100px 0 100px;
  justify-self: center;
  align-items: center;
}
footer img {
  width: 50%;
}
